src/main/resources/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="NAME" type="xs:string"></xs:element>
	<xs:element name="ADDRESS" type="xs:string"></xs:element>
	<xs:element name="COUNTRY" type="xs:string"></xs:element>

	<xs:element name="HOUSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ADDRESS" />
				<xs:element ref="COUNTRY" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PERSON">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NAME"></xs:element>
				<xs:element ref="HOUSE"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>